@import url(./../../../../../font/Montserrat-Regular.css);

.footerTitle {
    padding-top: 20px;
}

.footerTitle > h1 {
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1e2633;
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}