.aboutSubtitle {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #985e5b;
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
    padding-bottom: 5px;
}