.about-images {
  position: relative;
  margin-top: 60px;
  height: 315px;
}
 
 .about-first-image {
    position: absolute;
    left: 20px;
    top: 140px;
    z-index: 10;
}

.about-second-image {
    position: absolute;
    right: 20px;
    z-index: 0;
  }
