.button > img {
    transform: rotate(180deg);
    width: 35px;
    height: 35px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    background-size: cover;
    width: 50px;
    height: 50px;
}