@import url(./../../../font/Poppins-SemiBold.css);
@import url(./../../../font/Montserrat-Regular.css);

.titleCarusel > h1 {
    font-size: 28px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    padding: 0;
}

.subtitleCarousel> h3 {
    letter-spacing: 2px;
    color: #985e5b;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.titlsCarousel {
    position: absolute;
    margin-left: 20px;
    top: 200px;
    z-index: 10;
}