@import url('./../../../font/Font.css');

.carousel-titls-wrapper {
    display: flex;
    top: 180px;
    width: 300%;
    flex: 1;
    transition: all ease 0.8s;
    position: absolute;
}

.carousel-titles-line {
    height: 140px;
    width: 33.33%;
    padding-left: 20px;
}

.carousel-title {
    color: #ffffff;
    font-size: 27px;
    font-family: Poppins, sans-serif;
    word-spacing: 7px;
    letter-spacing: 3px;
}

.carousel-subtitle {
    color: #aa6d6d;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    word-spacing: 7px;
    letter-spacing: 3px;
}