.cart-menu-button {
    color: #000000;
    display: block;
    padding: 10px 10px;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.cart-menu-buttons-lists {
    background-color: #ffffff;
    border: solid #f7f7f7 1px;
}