@import url('./../../../../../font/Poppins-SemiBold.css');

.galleryTitle>h1 {
    font-size: 38px;
    letter-spacing: 8px;
    color: #1e2633;
    text-align: center;
    font-family: Popins, sans-serif;
    margin-bottom: 0;
}