.navigation-bar {
    padding: 6px 5px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hiden {
    display: none;
}

.cart-menu-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 58px;
    right: 43px;
    width: 200px;
    height: 125px;
    background-color: #ffffff;
    z-index: 30;
}