@import url('../../../font/Montserrat-Regular.css');

.count-label {
    padding: 0 5px 3px 5px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}