.cartMenu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 58px;
    right: 43px;
    width: 200px;
    height: 118px;
    background-color: #ffffff;
    z-index: 30;
}

.cartMenuButton > a, .cartMenuButton > label {
    border: solid #f7f7f7 1px;
    color: #000000;
    padding: 10px 10px;
    font-size: 15px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
  }