@import url(./../../../../../font/Montserrat-Regular.css);

.footerCopyright>p {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e2633;
    font-family: "Montserrat",sans-serif;
    text-align: center;
    font-weight: bold;
}