@import url(./../../../../../font/Montserrat-Regular.css);

.gallerySubtitle {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 25px;
    text-transform: uppercase;
    color: #985e5b;
    font-weight: 700;
    font-family: "Montserrat, sans-serif";
    text-align: center;
}